@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

// Font Family
$form-family: 'Nunito', sans-serif;

//Font Size

$ft12: 12px;
$ft16: 16px;
$ft20: 20px;


// color
$baseColor:#000;
$label:#a9a7a7;
$border:#dadada;
$white :#fff;